<div class="center jumbotron">
  <h1>Game</h1>

  <h2>
    This is the home page for Game
  </h2>
  <% if !logged_in? %>
    <%= link_to "Register now!", register_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>